html {
    overflow-x: hidden;
    height: 100%;
}
body {
   background-color: rgb(241,241,241);
   position: absolute;
   margin: 0;
   background-size: 100%;
   height: 100%;
   width: 100%;
}
#header {
   height: 40px;
   background-color: #FFD888;
   width: 100%;
}
